<section class="section-category">
  <div class="container">
    <div class="category-body bg-primary">
      <div class="row flex-row-reverse">
        <div class="col-lg-6">
          <div class="category-header h-100 d-flex flex-column justify-content-center aling-items-center">
            <div class="d-lg-flex justify-content-center align-items-start">
              <img src="../assets/images/deco/polygon-1.png" alt="decoration-polygon">
              <div class="ms-2">
                <h2 class="h1 text-white text-start">
                  想學什麼嗎？<br />
                  一探究竟。
                </h2>
                <img class="decoration-line w-100" src="../assets/images/deco/line-2.png" alt="decoration-line">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row category-cards">
            <div class="col-12 col-lg-6">
              <div class="category-card d-flex align-items-center bg-white">
                <div class="flex-shrink-0 category-img category-img-marketing">
                  <img src="../assets/images/icons/megaphoneSimple.png" alt="mega-phone">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p>網路行銷</p>
                  <p class="text-secondary">342 門課程</p>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
              <div class="category-card d-flex align-items-center bg-white">
                <div class="flex-shrink-0 category-img category-img-photo">
                  <img src="../assets/images/icons/camera.png" alt="camera">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p>拍攝剪輯</p>
                  <p class="text-secondary">563 門課程</p>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
              <div class="category-card d-flex align-items-center bg-white">
                <div class="flex-shrink-0 category-img category-img-self">
                  <img src="../assets/images/icons/chartBarHorizontal.png" alt="bar-chart-horizontal">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p>自我成長</p>
                  <p class="text-secondary">490 門課程</p>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
              <div class="category-card d-flex align-items-center bg-white">
                <div class="flex-shrink-0 category-img category-img-art">
                  <img src="../assets/images/icons/penNib.png" alt="pen-nib">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p>藝術設計</p>
                  <p class="text-secondary">230 門課程</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="category-card d-flex align-items-center bg-white">
                <div class="flex-shrink-0 category-img category-img-data">
                  <img src="../assets/images/icons/bugDroid.png" alt="bug">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p>數據分析</p>
                  <p class="text-secondary">395 門課程</p>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
              <div class="category-card d-flex align-items-center bg-white">
                <div class="flex-shrink-0 category-img category-img-finance">
                  <img src="../assets/images/icons/creditCard.png" alt="credit-card">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p>投資理財</p>
                  <p class="text-secondary">486 門課程</p>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
              <div class="category-card d-flex align-items-center bg-white">
                <div class="flex-shrink-0 category-img category-img-music">
                  <img src="../assets/images/icons/headphones.png" alt="headphone">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p>音樂創作</p>
                  <p class="text-secondary">283 門課程</p>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
              <div class="category-card d-flex align-items-center bg-white">
                <div class="flex-shrink-0 category-img category-img-more">
                  <img src="../assets/images/icons/arrow.png" alt="arrow">
                </div>
                <div class="flex-grow-1 ms-3">
                  探索更多
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>