.card-badge {
  margin-right: 8px;
  padding: 8px 12px;
  background-color: #E5F4FF;
  color: $primary;
}

.card-badge-danger {
  margin-right: 8px;
  padding: 8px 12px;
  background-color: #FFE0D7;
  color: #FF3A55;
}

.card-badge-gray {
  margin-right: 8px;
  padding: 8px 12px;
  background-color: #ECECEC;
  color: #4B4B4B;
}
