.course-card,
.fundraise-card {
  border-radius: 20px;
  box-shadow: 0px 25px 50px -12px #0000001F;
  overflow: hidden;
  // height: 433px;
  .card-header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
    // padding-bottom: 200px;
    height: 200px;
    // position: relative;
    // .badge {
    //   position: absolute;
    //   top: 16px;
    //   left: 16px;
    // }
  }
  .card-body {
    img {
      width: 32px;
    }
  }
  .card-footer {
    background-color: $white;
  }
}